[user]
	email = me@coord-e.com
	name = coord.e
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[init]
	templatedir = ~/.git-templates/git-secrets
